.toDoDiv {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  box-sizing: border-box;
}

.floatingAddingItem {
  background-color: #3d55c27f;
  border-radius: 20px;
  width: 100%;
  max-width: 300px;
  position: fixed;
  top: 140px;
  right: 65%;
  transform: translateX(-50%);
  padding: 10px;
  box-sizing: border-box;
  z-index: 1000;
}

.comingSoonDiv {
  text-align: center;
  background-color: #3d55c27f;
  border-radius: 20px;
  width: 100%;
  max-width: 300px;
  position: fixed;
  top: 550px;
  right: 65%;
  transform: translateX(-50%);
  padding: 10px;
  box-sizing: border-box;
  z-index: 1000;
}

.comingSoonBtn {
  border-radius: 20px;
  width: 100%;
  max-width: 300px;
  position: fixed;
  top: 550px;
  right: 65%;
  transform: translateX(-50%);
  padding: 10px;
  box-sizing: border-box;
  z-index: 1000;
  text-align: center;

}

.listItem button {
  width: 100%;
}

.comingText {
  font-size: 15px;
  font-weight: normal;
  color: white;
}


input {
  margin: 5px 0;
  display: block;
  width: calc(100% - 0px);
  height: 55px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.editPriorityInput,
.editItemInput,
.editNotesInput,
.editDateInput {
  width: 100%;
  background-color: #ffffff;
}

.editItem,
.addToListTag,
.confirmAddedText {
  text-align: center;
}

.addToListTag {
  font-size: 24px;
  color: white;
  margin-bottom: 10px;
}

.confirmAddedText {
  color: #69826e;
  font-size: 18px;
  margin-top: 10px;
}

.clearBtn,
.closeBtn {
  background-color: rgba(255, 166, 0, 0.874);
}

.clearBtn:hover,
.closeBtn:hover {
  background-color: rgb(192, 149, 69);
}

.dateDiv,
h1 {
  text-align: center;
}


button {
  margin: 5px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #3d56c2;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #646f9c;
}

.deleteItemBtn {
  background-color: rgb(186, 38, 38);
}

.deleteItemBtn:hover {
  background-color: rgb(132, 40, 40);
}


.list {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.addAndClearDiv {
  text-align: center;
}

.nothingLeftText {
  color: gray;
  text-align: center;
  font-size: 24px;
}


.editForm {
  background-color: #e4e3e3;
  padding: 15px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.confirmDelete {
  color: white;
  background-color: #c72b28;
}

.confirmDelete:hover {
  background-color: #72000b !important;
}

.editBtn,
.saveBtn {
  background-color: #69826e;
}

.editBtn:hover,
.saveBtn:hover {
  background-color: #8da492;
}

p {
  font-weight: 900;
}

.actionBtns {
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
}

/* 
.comingSoonDiv {
  width: 40%;
  background-color: #3d56c2;
  border: 3px solid #69826e;
} */


@media (max-width: 1300px) {
  .toDoDiv {
    margin: 20px auto;
    padding: 15px;

  }

  .floatingAddingItem {
    position: static;
    transform: none;
    margin-bottom: 10px;
    width: 100%;
    max-width: none;
  }

  .comingSoonDiv {
    color: white;
    position: static;
    transform: none;
    margin-bottom: 10px;
    max-width: none;
    background-color: #3d55c27f;
  }

  .comingSoonBtn {
    text-align: center;
    color: white;
    position: static;
    transform: none;
    margin-bottom: 10px;
    max-width: none;
  }

  .addToListTag {
    font-size: 20px;
  }

  .listItem button {
    width: 65%;
    margin: 5px 0;
  }

  .actionBtns button {
    margin: 5%;
  }


  .addAndClearDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}